* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
body {
     font-size: 1.6rem;
     width: 100vw;
     height: 100vh;
     display: flex;
     flex-direction: column;
     font-family: 'Rubik', sans-serif;
     align-items: center;
 }
.main {
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.phone {
    width: 40rem;
    height: 78rem;
    background: hsl(270, 20%, 96%);
    margin: 5rem;
    box-shadow: 0.1rem 0.1rem 1rem;
    border-radius: 3rem;
    border: 1.5rem solid white;
}

/* HEADER PHONE */

.head-phone {
    width: 100%;
    height: 15%;
    background:linear-gradient(to right ,hsl(264, 100%, 61%) , hsl(293, 100%, 63%));
    border-radius: 2rem 2rem 1rem 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.speaker-head-phone {
    width: 65%;
    height: 3vh;
    background: white;
    border-radius: 0 0 2rem 2rem;
}
.contact-head-phone {
    width: 100%;
    display: flex;
    margin-top: 1rem;
}
.back-arrow {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-chevron-left {
    color: white;
    font-size: 2rem;
}
.contact-avatar img{
    width: 5rem;
    border-radius: 8rem;
    border: 0.2rem solid white;
}
.contact-info {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;
}
.contact-name {
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
}
.contact-state {
    color: hsl(206, 6%, 79%);
    font-size: 1.3rem;
}
.options-dots {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-ellipsis-v {
    color: white;
    font-size: 2rem;
}

/* HEADER PHONE */

/* HEADER BODY */

.chat-phone {
    width: 100%;
    height: 85%;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
}

.received-message {
    width: 75%;
    background: hsl(280, 14%, 91%);
    color: hsl(276, 55%, 52%);
    margin-bottom: 1.5rem;
    padding: 1rem;
    border-radius: 1.5rem 1.5rem 1.5rem 0.5rem;
}

.received-message p {
    font-size: 1.5rem;
}

.dog-pictures {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1.5rem;
}

.dog-pictures img {
    width: 6rem;
    border-radius: 1rem;
    margin: 0.3rem;
}
.sended-message {
    width: 79%;
    background: white;
    margin-bottom: 1.5rem;
    align-self: flex-end;
    padding: 1rem;
    border-radius: 1.5rem 1.5rem 1rem 1.5rem;
}
.sended-message1 {
    background: white;
    margin-bottom: 1.5rem;
    align-self: flex-end;
    padding: 1rem;
    border-radius: 2rem 2rem 0.5rem 2rem;
}
.sended-message, .sended-message1 p {
    font-size: 1.5rem;
    color: hsl(264, 2%, 44%);
}
.special-message { 
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background:linear-gradient(to right , hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    margin-bottom: 1.5rem;
    padding: 1rem;
    border-radius: 1.5rem 1.5rem 1.5rem 0.5rem;
}
.circle {
    width: 15%;
}
.fa-circle {
    color: rgb(233, 221, 221);
    font-size: 2rem;
}
.text {
    color: rgb(233, 221, 221);
    width: 65%;
}
.price {
    color: white;
    font-size: 2.2rem;
    font-weight: bolder;
    width: 20%;
}
.send-message {
    width: 100%;
    height: 5rem;
    background: white;
    display: flex;
    align-items: center;
    border-radius: 4rem;
    
}
.type-message {
    width: 90%;
    color: rgb(199, 185, 185);
    padding-left: 3rem;
}
.submit-message {
    width: 10%;
    font-size: 1.2;
}
.fa-chevron-circle-right {
    font-size: 4rem;
    color: rgb(82, 6, 82);
}
.right-text {
    width: 45rem;
    margin-left: 10rem;
}
.text-title {
    font-size: 3rem;
    color: hsl(271, 36%, 24%);
    font-weight: 500;
    margin-bottom: 2rem;
}
.paragraph {
    color: hsl(270, 7%, 64%);
    line-height: 2.5rem;
}
.left-bullet {
    width: 77rem;
    height: 95%;
    position: absolute;
    left: -20rem;
    top: 0;
    z-index: -1;
    border-radius: 0 0 40rem 40rem;
    background:linear-gradient(to top ,hsl(264, 100%, 61%) , hsl(293, 100%, 63%));
}
.right-bullet {
    width: 77rem;
    height: 90%;
    position: absolute;
    right: -28rem;
    bottom: 0;
    z-index: -1;
    border-radius: 40rem 40rem 0 0;
    background: rgb(248, 245, 245);
}